body{
    background-color: #272822;
    font: normal 16px Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    

    margin: 20px;
    margin-top: 30px;
}

div{
    margin: 10px;
    padding: 10px;
}

.Parentesis{
    color: #A6E22E;
    margin: 0px;
    padding: 0px;
}

.Corchetes{
    color: #E6DB74;
    margin: 0px;
    padding: 0px;
}

.Coma{
    color: #66D9EF;
    margin: 10px;
    padding: 10px;
}

.DosP{
    color: #AE81FF;
    margin: 0px;
    padding: 0px;
}

.Numero{
    color: #FD971F;
    margin: 0px;
    padding: 0px;
}

.Bool{
    color: #E69F66;
    margin: 0px;
    padding: 0px;
}

.Text1{
    color: rgb(206, 71, 71);
    margin: 0px;
    padding: 0px;
}

.Text{
    color: rgb(255, 122, 195);
    margin: 0px;
    padding: 0px;
}

.Espacio{
    color: rgb(48, 189, 135);
    margin: 0px;
    padding: 0px;
}